<div class="row">
    <div class="col-md-4">
        <button onclick="buscarPosicion('TELEFE')" class="btn btn-block btn-info">
            Buscar TELEFE
        </button>
        <div id="TELEFE" class="posicionArray">

        </div>
    </div>
    <div class="col-md-4">
        <button onclick="buscarPosicion('VIACOM')" class="btn btn-block btn-info">
            Buscar VIACOM
        </button>
        <div id="VIACOM" class="posicionArray">

        </div>
    </div>
    <div class="col-md-4">
        <button onclick="buscarPosicion('JAVA')" class="btn btn-block btn-info">
            Buscar JAVA
        </button>
        <div id="JAVA" class="posicionArray">

        </div>
    </div>
</div>

<div class="row mt-50">
    <div class="col-md-2"></div>
    <div id="grilla" class="col-md-8">
        
    </div>
    <div class="col-md-2"></div>
</div>

<script type="text/javascript" src="~/Scripts/App/posiciones.js"></script>